.cart-link {
  position: fixed;
  right: 10px;
  top: 10px;
  background-color: antiquewhite;
  color: grey;
  width: 65px;
  height: 65px;
  font-size: 32px;
  border-radius: 50%;
  box-shadow: 0 2.8px 2.2px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    text-decoration: none;
  }
}
