<LinkTo @route="item" @model="1" class="product">
<div class="product-image">
  <img src="assets\images\beats-solo-red.png" alt="">
</div>
<div class="product-details">
  {{!--Header--}}
  <section>
    <h3>Solo Wireless Headphones</h3>
    <div class="text-warning">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
    </div>
  </section>
</div>
  

</LinkTo>